* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  background-color: #000;
  /* place-items: center; */
}

h1 {
  margin: 20px 0 30px 0;
  text-align: center;
  color: #fff;
}
.carousel-container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 70%;
  margin: auto;
  /* overflow: hidden; */
}
.arrows {
  position: absolute;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 10;
  cursor: pointer;
  padding: 0 3%;
}
.arrows i {
  color: #fff;
  font-size: 60px;
  font-weight: 400;
  background-color: #000;
  border-radius: 8px;
  padding: 0 8px;
  opacity: 0.6;
  transition: all 0.3s;
}
.arrows i:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.6);
}
.carousel-slide {
  display: flex;
  width: 100%;
  height: 500px;
}

.carousel-slide img {
  width: 100%;
  padding: 0 10px;
  object-fit: cover;
  object-position: center;
}

/* responsive  */
@media only screen and (max-width: 1025px) {
  .carousel-container {
    width: 90%;
  }
  body {
    background-color: rgb(85, 84, 84);
  }
}
@media only screen and (max-width: 426px) {
  .carousel-container {
    overflow: hidden;
    width: 95%;
  }
  .arrows {
    padding: 0 5%;
  }

  .arrows i {
    font-size: 25px;
    font-weight: 400;
    border-radius: 2px;
    padding: 0 3px;
  }
  .carousel-slide img {
    width: 100%;
    object-fit: contain;
    object-position: center;
  }
}
