@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Noto Sans',sans-serif;
}
body {
  background-color:#000;
  overflow-x: hidden;
  padding-bottom: 250px;
  text-align: center;
}

h1 {
  font-weight: lighter;
  margin: 20px 0 20px 0;
  text-align: center;
  color: #fff;
}
.carousel-container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 700px;
  max-height: 250px;
  margin: auto;
}

.carousel-slide {
  display: flex;
  width: 100%;
}

.carousel-slide img {
  width: 100%;
  padding: 0 10px;
  object-fit: cover;
  object-position: center;
}
.arrows {
  position: absolute;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 125%;
  z-index: 10;
  cursor: pointer;
  padding: 0 4%;
}
.arrows i {
  color: #fff;
  font-size: 60px;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 0 8px;
  opacity: 0.6;
  transition: all 0.3s;
}
.arrows i:hover {
  opacity: 0.8;
  background-color: rgba(0, 0, 0, 0.6);
}
.circleBtnContainer {
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: fit-content;
  cursor: pointer;
  padding-top:20px ;
  font-weight: 400;
  height: 40px;
}
.circleBtnContainer i {
  color: rgb(255, 255, 255);
  opacity: 0.4;
  transition: all 0.3s;
  background-color: #fff;
  border-radius: 50%;
  font-size: 16px;
  margin: 0 10px;
}
.circleBtnContainer i:hover {
  opacity: 1;
}
.circleBtnContainer .now {
  font-size: 22px;
  opacity: 1;
}





/* ------responsive  */
@media only screen and (max-width: 769px) {
  body {
    padding-bottom: 100px;
  }
  .carousel-container {
    width: 96%;
    overflow: hidden;
  }
  .arrows{
    width: 100%;
  }
}
@media only screen and (max-width: 426px) {
  h1{
    font-size: 16px;
    margin: 20px 0 10px 0;
    font-weight: 100;
  }
  .carousel-container {
    overflow: hidden;
    width: 95%;
  }
  .arrows {
    padding: 0 5%;
  }

  .arrows i {
    font-size: 35px;
    font-weight: 400;
    border-radius: 2px;
    padding: 0 3px;
  }
  

  .circleBtnContainer i {
    font-size: 10px;
    margin: 0 5px;
    margin-top: 5px;
    font-weight: 100;
  }

  .circleBtnContainer .now {
    font-size: 14px;
  }
}
