@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Noto Sans',sans-serif;
}
body {
  background-color:#000;
  overflow-x: hidden;
  padding-bottom: 250px;
}

h1 {
  margin: 20px 0 30px 0;
  text-align: center;
  color: #fff;
}
.carousel-container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 70%;
  margin: auto;
}

.carousel-slide {
  display: flex;
  width: 100%;
}

.carousel-slide img {
  width: 100%;
  padding: 0 10px;
  object-fit: cover;
  object-position: center;
}
.arrows {
  position: absolute;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 10;
  cursor: pointer;
  padding: 0 3%;
}
.arrows i {
  color: #fff;
  font-size: 60px;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 0 8px;
  opacity: 0.6;
  transition: all 0.3s;
}
.arrows i:hover {
  opacity: 0.8;
  background-color: rgba(0, 0, 0, 0.6);
}
.circleBtnContainer {
  color: #fff;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  cursor: pointer;
  margin-top:10px ;
  font-size: 12px;
  font-weight: 400;
}
.circleBtnContainer i {
  color: #fff;
  opacity: 0.5;
  transition: all 0.3s;
  background-color: #fff;
  border-radius: 50%;
}
.circleBtnContainer i:hover {
  opacity: 1;
}
.circleBtnContainer .now {
    opacity: 1;
}
/* responsive  */
@media only screen and (max-width: 1441px) {
  .carousel-container {
    width: 75%;
  }
  body {
    background-color: rgb(85, 84, 84);
  }
}
@media only screen and (max-width: 1025px) {
  body{
    background-color: rgb(156, 102, 0);
  }
  h1 {
    margin: 5px 0 10px 0;
    font-weight: 100;
  }
  .carousel-container {
    overflow: hidden;  
  }
}

@media only screen and (max-width: 769px) {
  body {
    background-color: rgb(125, 199, 29);
    padding-bottom: 100px;
  }
  .carousel-container {
    width: 96%;
    overflow: hidden;
  }
}
@media only screen and (max-width: 426px) {
  body {
    background-color: rgb(0, 0, 0);
  }
  h1{
    font-size: 16px;
    margin: 20px 0 0 0;
    font-weight: 100;
  }
  .carousel-container {
    overflow: hidden;
    width: 95%;
  }
  .arrows {
    padding: 0 5%;
  }

  .arrows i {
    font-size: 25px;
    font-weight: 400;
    border-radius: 2px;
    padding: 0 3px;
  }
  .carousel-slide img {
    width: 100%;
    object-fit: contain;
    object-position: center;
  }
  .circleBtnContainer {
    width: 60%;
    margin-top: 5px;
    font-size: 2px;
    font-weight: 100;
  }
}
